@{
     ViewData["Title"] = "Confirm email";
     Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="container text-center">
     <div class="row">
          <div class="col text-center">
               <h2>@ViewData["Title"]</h2>
               <h4>You account has been successfully confirmed</h4>

               <h4>Thank you</h4>

               <br /><br />

               <a class="btn btn-primary" href="/Account/Login">Login Here</a>
          </div>
     </div>
</div>
